.header
{
    padding-left: 33%;
   width: 100%;
   height: 50px;
    background-color: azure;
}
h2{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#table
{
    padding-top:5px ;
}
#th
{
    padding-right: 150px;
}
#orderTable
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cus
{
    padding-right: 70px;
}
#cus2
{
    padding-left: 100px;
}
#cus3
{
    padding-left: 100px;
}
#orderform
{
  padding-top: 2ch;
}
.table
{
    height: 50%;
}